.brand-animation-wraper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .item{
        width: 100px;
        height: 100px;
        padding: 10px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            transition-property: all;
        }
    }
    .hide-scale{
        img{
        transform: scale(0);
        }
    }
    .show-scale{
        img{
        transform: scale(1);
        }
    }
    .hide-fade{
        img{
        opacity: 0;
        }
    }
    .show-fade{
        img{
        opacity: 1;
        }
    }
    
}